body{
	font-family: 'Open Sans',sans-serif;
	background-color:white;
}
#result{
    height: 120px;
    background-color: rgb(185, 159, 233);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0%;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#key{
    text-align: center;
	height: 400px;
}
 .operator, .number, .empty{
	width: 50px;
	height: 25px;
	margin: 15px;
	border-width: 0;
	font-weight: bold;
	font-size: 14px;
}